/* COLORS BASED */

.text-purple-600 {
    color: var(--clr-purple-600);
}

.text-purple-200 {
    color: var(--clr-purple-200);
}

.text-pink-400 {
    color: var(--clr-pink-400);
}

.text-pink-200 {
    color: var(--clr-pink-200);
}

.text-grey-500 {
    color: var(--clr-grey-500);
}

.text-white{
  color: var(--clr-white);
}

.text-black{
  color: var(--clr-black);
}

/* LAYOUT BASED  */

.flex{
    display: flex;
}

.items-center{
  align-items: center;
}

.gap-1{
    gap: var(--space-xs)
}

.gap-2{
    gap: var(--space-xl)
}

/* SPACING BASED  */

.p-1{
    padding: var(--space-xxs);
}

.p-2{
    padding: var(--space-xs);
}

/* BORDER RADIUS  */

.radius-sm{
    border-radius: var(--radius-sm);
}

.radius-md{
    border-radius: var(--radius-md);
}

/* BACKGROUND COLOR BASED  */

.bg-purple-600{
    background-color: var(--clr-purple-600);
}

.bg-purple-200{
    background-color: var(--clr-purple-200);
}

/* TYPOGRAPHY BASED  */

.fw-md {
    font-weight: var(--fw-500);
}

.fw-bold {
    font-weight: var(--fw-700);
}

.width-sm{
     width: var(--img-sm);
}