.interactive-comments-card {
    display: flex;
    background-color: var(--clr-white);
    padding: var(--space-lg);
    gap: var(--space-lg);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
}

.interactive-comments-card.nested {
    max-width: var(--container-sm);
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
}

.user-image {
    display: flex;
    align-items: center;
}

.user-image img {
    width: var(--img-sm);
}

.comment-reply {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
}

.comment-reply {
    transition: var(--transition-fast);
    cursor: pointer;
}

.comment-reply p:hover {
    color: var(--clr-purple-200);
}

.user-name {
    font-weight: var(--fw-500);
    color: var(--clr-grey-800);
}

/* current user  */
.active-user-comment {
    max-width: var(--container-md);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    gap: var(--space-md);
    background-color: var(--clr-white);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    padding: var(--space-md);
    margin-block: var(--space-md);
    position: sticky;
    bottom: var(--space-md);
}

textarea {
    width: 32rem;
    min-height: 5rem;
    resize: none;
    border: 2px solid var(--clr-grey-100);
    border-radius: var(--radius-md);
    padding: var(--space-xs)
}

textarea:focus{
    border-color: var(--clr-grey-800);
}